@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .primary-button {
    background-color: #3295ff;
    color: #fff;
    padding: 8px 16px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .primary-button:hover {
    background-color: #007bff;
  }

  .primary-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
  }

  .box-center {
    @apply flex items-center justify-center;
  }

  a {
    text-decoration: none;
    &:hover {
      @apply text-primary;
    }
  }
}
